
body{
    background-image: linear-gradient(#ff3c00bb,blue);
}

    ha{
        color: red;

    }
    .instructions{
        font-weight: bolder;
        color: black;
    }
    #textcontainer{
        height: 500px;
    }
    p{
        font-weight: bold;
    font-style: italic;    }
        div{
            background-color:rgba(201, 33, 21, 0.651);
            text-align: center;
            height: fit-content;
            width: fit-content;
            border-style: dotted;
            border-color: black;
            margin: auto;
            margin-top: 50px;
            padding: 200px;
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 50px;
            padding-bottom: 50px;
        }